aiodns==3.2.0
aiohappyeyeballs==2.6.1
aiohttp==3.10.11
aiosignal==1.3.2
annotated-types==0.7.0
aptdaemon==2.0.2
async-timeout==5.0.1
attrs==25.1.0
autocommand==2.2.2
babel==2.17.0
bcc==0.30.0
bcrypt==4.2.0
beautifulsoup4==4.13.3
blinker==1.9.0
Bottleneck==1.4.2
Brlapi==0.8.6
Brotli==1.1.0
cachetools==5.3.3
certifi==2025.1.31
chardet==5.2.0
click==8.1.8
cloud-init==25.2
command-not-found==0.3
configobj==5.0.9
contourpy==1.3.1
cryptography==43.0.0
cssselect==1.3.0
cupshelpers==1.0
cycler==0.12.1
dbus-python==1.3.2
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
distro==1.9.0
distro-info==1.13
et_xmlfile==2.0.0
fasteners==0.18
fonttools==4.55.3
frozenlist==1.5.0
fs==2.4.16
google-ai-generativelanguage==0.6.15
google-api-core==2.19.0
google-api-python-client==2.165.0
google-auth==2.28.2
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.66.0
greenlet==3.1.0
grpcio==1.76.0
grpcio-status==1.71.2
html5lib-modern==1.2
httplib2==0.22.0
idna==3.10
inflect==7.3.1
jaraco.context==6.0.1
jaraco.functools==4.1.0
Jinja2==3.1.5
jsonpatch==1.32
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.12.1
kiwisolver==1.4.7
language-selector==0.1
launchpadlib==2.1.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
legacy-cgi==2.6.2
louis==3.32.0
lxml==5.3.2
lz4==4.4.0+dfsg
Mako==1.3.8.dev0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
mdurl==0.1.2
monotonic==1.6
more-itertools==10.6.0
mpmath==1.3.0
multidict==6.2.0
munkres==1.1.4
netaddr==1.3.0
netifaces==0.11.0
numexpr==2.10.2
numpy==2.2.3
oauth2client==4.1.3
oauthlib==3.2.2
odfpy==1.4.2
olefile==0.47
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3+dfsg
passlib==1.7.4
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.6
pooch==1.8.2
proto-plus==1.26.0
protobuf==5.29.5
ptyprocess==0.7.0
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycairo==1.27.0
pycares==4.4.0
pycups==2.0.4
pydantic==2.12.4
pydantic_core==2.41.5
PyDrive2==0.0.0
Pygments==2.18.0
PyGObject==3.50.0
PyJWT==2.10.1
pyOpenSSL==25.0.0
pyparsing==3.1.2
pyserial==3.5
python-apt==3.0.0+ubuntu0.25.4.1
python-dateutil==2.9.0
python-debian==1.0.1+ubuntu1
pytz==2025.1
pyu2f==0.1.5
pyxdg==0.28
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
responses==0.25.6
rich==13.9.4
rpds-py==0.21.0
rsa==4.9
scipy==1.14.1
six==1.17.0
soupsieve==2.6
SQLAlchemy==2.0.38
sympy==1.13.3
systemd-python==235
tables==3.10.2
tabulate==0.9.0
tqdm==4.67.1
typeguard==4.4.2
typing-inspection==0.4.2
typing_extensions==4.15.0
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.17.0
ufw==0.36.2
unattended-upgrades==0.1
unicodedata2==15.1.0
uritemplate==4.1.1
urllib3==2.3.0
usb-creator==0.3.16
wadllib==2.0.0
webencodings==0.5.1
wheel==0.45.1
xdg==5
xkit==0.0.0
yarl==1.13.1
